.accountContainer {
    display: flex;
    flex-direction: row;
    background: darkred;
    height: 100vh;
}

.quickInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    margin: 55px 45px 45px 45px;
    width: 35%;
    height: 400px;
    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
}

.picture {
    margin: 15px;
    padding: 10px;
}

.picture img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 10px;
}

.name {
    color: goldenrod;
    font-size: 40px;
    font-weight: 700;
}

.email {
    color: darkred;
    font-size: 20px;
    font-weight: 200;
}

.userButtons {
   display: flex;
   margin: 2.5%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    color: white;
    background: darkred;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin: 5%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: lightgray;
    width: 975px;
    height: 400px;
    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
    margin: 15px 15px 35px 15px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 80);
    margin: 7.5px;
    padding: 10px;
    border-radius: 10px;
    color: gainsboro;
    font-size: 15px;
    font-weight: 200;
    width: 85%;
    height: 85%;
    border-radius: 10px;
    border-color: brown;
    border-style: solid;
    border-width: 5px;

    font-size: 15px;
    font-weight: 500;
}

.userInfo img{
    width: 200px;
    height: 200px;
}

.doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    width: 100vh;
    height: 350px;
    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
    margin: 35px 15px 15px 15px;

    color: goldenrod;
    font-size: 25px;
    font-weight: 500;
}

.doctorTitle {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    margin: 5px;
    color: black;
}

.doctorContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 80);
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    width: 75%;
    height: 250px;
}

.doctorInfo {
    display: flex;
    flex-direction: column;
}

.docpicture {
    margin: 15px;
    padding: 10px;
}

.docpicture img{
    width:85%;
    height: 85%;
    border-radius: 100px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 10px;
}

.doctorname {
    color: goldenrod;
    font-size: 50px;
    font-weight: 500;
    margin: 20px;
}
