.signUpContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.signUpContainer img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.80;
}

.signUpInfo {
    font-size: 150%;
    font-weight: 700;
    padding: 5%;
    color: goldenrod;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: 0px auto auto auto;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

    border-color: goldenrod;
    border-style: solid;
    border-width: 15px;
}

.signUpButton {   
    display: flex;
    align-items: center;
    
    color: white;
    background: darkred;
    border-radius: 0px 50px 50px 0px;

    font-size: 90%;
    font-weight: 700;

    padding-left: 5%;

    height: 100%;
    width: 100%;
}

.fullButton {
    text-align: center;
    position: absolute;

    right: 35%;
    bottom: 10%;
   
    height: 10%;
    width: 40%;

    margin: auto auto 150px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(99, 0, 0);
    border-radius: 50px 50px 50px 50px;

    cursor: pointer;
}

.fullButton img {
    width: 100px;
    height: 100px;
    opacity: 100;

    margin-left: 7%;
}