.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50%;

    background-image: url('../Assets/monster.png');
}

.signup-img {
    border-style: solid;
    border-color: goldenrod;
    border-width: 15px 0px 15px 0px;
    width: 100%;
    padding: 1% 0% 0.5% 0%;
}

.signUpInfo {
    display: flex;
    flex-direction: column;
}

.intro-signup {
    font-size: 1.5em;
    font-weight: 700;

    text-align: center;

    color: white;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    padding: 5%;
}

.paragraph {
    font-size: 1.5em;
    font-weight: 700;

    padding: 5%;
    text-align: center;

    color: white;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fullButton {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(99, 0, 0);
    border-radius: 50px 50px 50px 50px;

    cursor: pointer;

    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;

    width: 50%;
}

.fullButton img {
    width: 25%;
    border-width: 0px;
    padding: 1%;
}

.signUpButton {   
    display: flex;
    align-items: center;
    
    color: white;
    border-radius: 0px 50px 50px 0px;

    font-size: 1.25em;
    font-weight: 700;
}