.full {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    width: 50%;
    height: 100vh;

    border-style: solid;
    border-color: gold;
    border-width: 0px 0px 0px 15px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.loginContainer {
    display: flex;
    flex-direction: column;

    margin: 45%;

    width: 75%;
    height: 60%;

    background: whitesmoke;
    border-radius: 12px;
}

.titleText {
    color: darkred;

    font-size: 2em;
    font-weight: 700;
}

.inputs {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.userInput {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 40%;
    background: lightgray;
    border-radius: 6px;
}

.userInput img{
    margin: 0px 30px;
    width: 50px;
}

.userInput input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1em;
}

.submit {
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 100%;
    color: white;

    background: darkred;
    border-radius: 50px;

    font-size: 1.25em;
    font-weight: 700;
    cursor: pointer;
}

.correctCreds {
    display: none;
}

.incorrectCreds {
    display: block;
    color: red;
    font-size: 500;
}

.doctorSwitch {
    color: blueviolet;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

.social {
    display: flex;
    justify-content: space-evenly;

    width: 40%;

    padding: 17px;
    margin: 3%;

    position: absolute;

    background: whitesmoke;

    border-style: solid;
    border-color: gold;
    border-width: 10px;
}

.social img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.tooltip {
    color: rgb(52, 52, 52);
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}