
.pageTitle {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
    font-size: 24px; /* Adjust font size as needed */
    color: white; /* Adjust color as needed */
}
body {
    background-color: darkred;
}

.doctorContain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: darkred;

    height: 100vh;
}

.quickInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    background-color: lightgray;

    margin: 55px 45px 45px 45px;
    width: 25%;
    height: fit-content;

    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 10px;
}

.picture img{
    background-color: white;
}

.doctor-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: goldenrod;
    color: black;

    border: solid;
    border-color: darkred;
    border-radius: 10px;
    border-width: 10px;

    margin: 0px 15px 15px 15px;
    padding: 10px;
}

.doctor-title h1 {
    border: solid;
    border-width: 5px 0px;
    border-color: black;

    padding: 5px;
}

.doc-code h2 {
    font-size: 1em;
    color: black;
    margin: 5px
}

.doc-code {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 15px;

    color: black;

    font-weight: 600;
    font-size: 1.25em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: darkred;

    margin: 50px;
    padding: 0px 25px 0px 0px;

    height: fit-content;
    width: fit-content;

    border-radius: 75px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
}

.search img {
    margin: 15px 0px 15px 15px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.search-button {
    color: black;

    margin: 10px 10px 10px 50px;
    padding: 5px;

    border-radius: 5px;
    border: solid;
    border-color: goldenrod;

    background-color: goldenrod;
}

.search-button:hover {
    cursor: pointer;
}

.patientResults {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;

    height: fit-content;
    width:fit-content;

    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 10px;

    margin: 25px;
}
.patient {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Adjust alignment as needed */
    justify-content: space-around;
    background-color: darkred;
    margin: 20px;
    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
}


.patientImg {
    padding: 10px;
}

.patientImg img{
    border-radius: 100px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 10px;

    background-color: b;
}

.basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;

    border-radius: 2px;

    background-color: goldenrod;
    border: 5px solid darkred; /* Add border property */


    height: fit-content;
    width: fit-content;

    margin: 15px;
    padding: 15px;
}

.basic-info h1 {
    border: solid;
    border-width: 5px 0px 5px 0px;
    border-color: black;

    padding: 5px;
}

.specific-info {
    display: flex;
    flex-direction: column;

    color: black;

    border-radius: 2px;

    background-color: goldenrod;
    border: 5px solid darkred; /* Add border property */

    width: 60%;

    margin: 15px;
    padding: 15px;
}

.specific-info h1 {
    border: solid;
    border-width: 0px 0px 5px 0px;
    border-color: black;

    color: black;
}

.allergic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid darkred; /* Add border property */
    border-radius: 2px;

    background-color: goldenrod;

    width: 50%;

    margin: 15px;
    padding: 10px;
}

.allergic-info h1 {
    color: black;

}

.element {
    background-color: gray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.resultsButton {
    background-color: darkred;
    color: white;
    font-weight: 500;

    text-align: center;

    border-radius: 15px;

    margin: 0px 25px;
    padding: 10px 5px;

    border: solid;
    border-color: black;
}

.refresh-button {
    background-color: darkred;
    color: white;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    margin: 20px auto; /* Auto margins for horizontal centering in a flex container */
    padding: 10px 5px;
    border: solid;
    border-color: black;
    width: 100%; /* Optional: Adjust width as needed */
}
.refresh-button:hover {
    cursor: pointer;
    opacity: 0.75; /* Gives feedback on hover, similar to .resultsButton */
}

.resultsButton:hover{
    cursor: pointer;
    opacity: 0.75;
}

.lil {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1em;
    font-weight: 600;
}

.head {
    font-size: 1.5em;
    font-weight: 600;
    white-space: nowrap; /* Keeps 'Allergens:' on one line */
    margin-right: 10px; /* Adds space between the label and the value */
}

.productResults {
    color: black;
    font-size: 1.5em;
    font-weight: 600;

    padding: 15px;

    border: solid;
    border-radius: 5px;
    border-width: 5px;
}

.noPatient {
    background-color: goldenrod;
    font-size: 2em;
    font-weight: 600;

    margin: 15px;
    padding: 15px;

    border-radius: 25px;
}