body {
    background-color: darkred;
}

.doctorContain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: darkred;

    height: 100vh;

    border: solid;
    border-color: gold;
    border-width: 0px 15px 0px 15px;
}

.quickInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    background-color: lightgray;

    margin: 55px 45px 45px 45px;
    width: 25%;
    height: fit-content;

    border-radius: 10px;
    border-color: gold;
    border-style: solid;
    border-width: 5px;
}

.picture img{
    background-color: white;
}

.doctor-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: goldenrod;
    color: white;

    border: solid;
    border-color: darkgray;
    border-radius: 10px;
    border-width: 10px;

    margin: 0px 15px 15px 15px;
    padding: 10px;
}

.h1 {

}

.doc-code h2 {
    font-size: 1em;
    color: white;
    margin: 5px
}

.doc-code {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 15px;

    color: black;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: rgb(0, 0, 80);

    margin: 50px;
    padding: 0px 25px 0px 0px;

    height: fit-content;
    width: fit-content;

    border-radius: 75px;
    border-color: gold;
    border-style: solid;
    border-width: 5px;
}

.search img {
    margin: 15px 0px 15px 15px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.search-button {
    color: white;

    margin: 10px 10px 10px 50px;
    padding: 5px;

    border-radius: 5px;
    border: solid;
    border-color: white;

    background-color: goldenrod;
}

.search-button:hover {
    cursor: pointer;
}

.patientResults {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;

    height: fit-content;
    width: 80%;

    border-radius: 10px;
    border-color: gold;
    border-style: solid;
    border-width: 5px;
}

.patient {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(0, 0, 80);
    margin: 20px;
    border-radius: 10px;
    border-color: gold;
    border-style: solid;
    border-width: 5px;
}

.patientImg {
    padding: 10px;
}

.patientImg img{
    border-radius: 100px;
    border-color: gold;
    border-style: solid;
    border-width: 10px;

    background-color: white;
}

.basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    border-radius: 2px;

    background-color: goldenrod;

    height: fit-content;
    width: fit-content;

    margin: 15px;
    padding: 15px;
}

.specific-info {
    display: flex;
    flex-direction: column;

    color: white;

    border-radius: 2px;

    background-color: goldenrod;

    width: fit-content;

    margin: 15px;
    padding: 15px;
}

.specific-info h1 {
    border: solid;
    border-width: 0px 0px 10px 0px;
}

.allergic-info {
    color: white;

    border-radius: 2px;

    background-color: goldenrod;

    width: 30%;

    margin: 15px;
    padding: 10px;
}

.lil {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1em;
    font-weight: 600;
}

.head {
    font-size: 1.5em;
    font-weight: 600;
}