body {
    background: lightgray;
}

.surveyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightgray;

    border-color: darkred;
    border-style: solid;
    border-width: 20px 15px 0px 15px;
}

.userDebrief {
    background: linear-gradient(goldenrod, lightgray);
    padding: 15px;
}

.userDebrief h1 {
    color: darkred;
    font-size: 40px;
    font-weight: 700;
}

.intro {
    background: darkred;
    padding: 15px;
    border-radius: 6px;
    color: gainsboro;
    font-size: 20px;
    font-weight: 500;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;    
}

.double {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin: 15px;
    padding: 15px 50px 25px 20px;
    width: 90%;
    height: 180px;
    background: darkred;
    border-radius: 6px;
}

.double h {
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 10px 25px 0px;
}

.double input {
    height: 40%;
    width: 60%;

    font-size: 25px;

    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border-width: 6px;

    padding: 10px;
}

.first {
    display: flex;
    flex-direction: column;

    background-color: goldenrod;
    border-radius: 5px;

    padding: 5px;
    margin: 10px;

    width: 100%;
}

.first h {
    margin: 5px 5px 5px 25px;
}

.first input {
    margin: 5px 5px 5px 25px;
}

.last{
    display: flex;
    flex-direction: column;

    background-color: goldenrod;
    border-radius: 5px;

    padding: 5px;
    margin: 10px;

    width: 100%;
}

.last h {
    margin: 5px 5px 5px 25px;
}

.last input {
    margin: 5px 5px 5px 25px;
}

.questionDefault {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 15px;
    padding: 15px 50px 25px 20px;
    width: 90%;
    height: 130px;
    background: darkred;
    border-radius: 6px;
}

.skintone {
    display: flex;
    position: row;

    background: darkred;

    margin: 15px;
    padding: 15px 50px 25px 20px;

    width: 90%;
    height: 200px;

    border-radius: 6px;
}

.options {
    display: flex;
    position: row;
    justify-content: space-between;

    width: 100%;
}

.skintone input {
    position: relative;
    opacity: 100;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.skintone h {
    display: flex;
    flex-direction: row;

    color: goldenrod;
    font-size: 65px;
    font-weight: 500;
    margin: 10px 10px 25px 30px;
}

.skintone label {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 15%;
    height: 100%;

    font-size: 35px;

    color: goldenrod;
}

.questionDefault h {
    color: goldenrod;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 10px 25px 0px;
}

.questionDefault input {
    height: 40%;
    width: 60%;

    font-size: 25px;

    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border-width: 6px;

    padding: 10px;
}

.DOB {
    display: flex;
    
}

.surveySubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 50px;
    width: 50%;
    color: white;
    background-color: goldenrod;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 6px;
}

.dark {
    background-color: rgb(89, 48, 16);

    height: 80px;
    width: 70px;

    margin: 25px 0px 20px 0px;
}

.brown {
    background-color: rgb(157, 104, 63);

    height: 80px;
    width: 70px;

    margin: 25px 0px 20px 0px;
}

.olive {
    background-color: rgb(209, 148, 119);

    height: 80px;
    width: 70px;

    margin: 25px 0px 20px 0px;
}

.medium {
    background-color: rgb(204, 154, 139);

    height: 80px;
    width: 70px;

    margin: 25px 0px 20px 0px;
}

.fair {
    background-color: rgb(226, 168, 152);

    height: 80px;
    width: 70px;

    margin: 25px 0px 20px 0px;
}

.light {
    background-color: rgb(237, 207, 199);

    height: 80px;
    width: 70px;

    margin: 25px 0px 20px 0px;
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 15px;
    padding: 15px 50px 25px 20px;
    width: 90%;
    height: 300px;
    background: darkred;
    border-radius: 6px;
}

.other h {
    color: goldenrod;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 10px 25px 0px;
}

.other input {
    font-size: 25px;

    width: 45%;
    height: 100%;

    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border-width: 6px;

    padding: 10px;
}

.genderInput {
    height: 25%;
    width: 50%;
}

.triple {
    display: flex;
    justify-content: space-between;
  }
  
  .questionDefault {
    flex: 1;
    margin-right: 20px;  /* Adjust spacing as needed */
  }

  .symptom-list {
    max-height: 200px;  /* Maintain the same height */
    width: 100%;        /* Adjust this to your preference, or set to 100% for full width under its parent */
    overflow-y: auto;
    background-color: #f5f5f5;  /* Very light gray background */
    border: 1px solid #ccc;     /* Visual border to indicate the list area */
    margin-top: 1px;  /* Reduced margin to bring the box closer */
    padding: 10px;
    box-sizing: border-box;     /* Ensures padding doesn't affect the width */
}

.symptom-item {
    display: block; 
    margin-bottom: 5px;
}
